.wrapper {
  color: "white";

  @mixin dark {
    background: rgb(32, 10, 43);
    background: linear-gradient(
      25deg,
      rgba(32, 10, 43, 1) 38%,
      rgba(19, 0, 29, 1) 100%
    );
  }

  @mixin light {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1041%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(243%2c 243%2c 243%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c322.527C66.431%2c333.11%2c138.858%2c340.356%2c197.081%2c306.664C256.066%2c272.531%2c279.028%2c202.171%2c311.515%2c142.264C346.449%2c77.845%2c413.829%2c13.915%2c394.112%2c-56.665C373.972%2c-128.757%2c278.513%2c-144.454%2c218.805%2c-189.596C173.418%2c-223.911%2c135.401%2c-263.401%2c85.212%2c-290.207C23.56%2c-323.135%2c-37.068%2c-369.258%2c-106.721%2c-363.458C-180.755%2c-357.294%2c-263.153%2c-323.856%2c-298.084%2c-258.291C-333.12%2c-192.529%2c-286.189%2c-114.277%2c-278.99%2c-40.113C-273.716%2c14.226%2c-282.089%2c68.857%2c-261.425%2c119.389C-240.197%2c171.299%2c-204.76%2c215.293%2c-160.475%2c249.704C-113.132%2c286.492%2c-59.209%2c313.095%2c0%2c322.527' fill='%23d1d1d1'%3e%3c/path%3e%3cpath d='M1440 888.236C1512.618 889.7850000000001 1587.789 923.1890000000001 1653.456 892.145 1721.341 860.052 1765.569 791.119 1793.157 721.282 1819.9279999999999 653.512 1821.785 578.465 1805.417 507.461 1789.891 440.10699999999997 1747.041 385.365 1703.372 331.78700000000003 1658.435 276.653 1617.769 206.202 1548.12 191.779 1478.931 177.45100000000002 1418.941 237.54500000000002 1351.601 258.94 1286.203 279.717 1206.862 267.458 1158.066 315.702 1108.632 364.577 1092.635 441.301 1096.981 510.681 1100.968 574.338 1159.001 618.433 1180.782 678.381 1205.316 745.905 1176.48 837.954 1232.318 883.159 1287.252 927.6320000000001 1369.336 886.7280000000001 1440 888.236' fill='white'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1041'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  }
}

.navbar {
  background: rgb(21, 6, 28);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.navlinks {
  color: var(--mantine-color-gray-5);
  --button-color: var(--mantine-color-gray-5);
  --button-hover-color: var(--mantine-color-gray-2);
}
